In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import json
import time
from bs4 import BeautifulSoup as bs
import gmaps
import locale
from census import Census
c = Census('c0e1bc0567636e35afe801464f2d1acecd3485c5', year = 2017)


api_key_census = 'c0e1bc0567636e35afe801464f2d1acecd3485c5'

api_key_zip_code = 'KN1FGI5C5GN1LSN3MIGB'

query_url = 'api.census.gov/data/2017/acs/acsse?get=NAME,K200001_001E&for=state:*&key=' + api_key_census

query_url2 = 'https://api.opendatanetwork.com/data/v1/map/new?app_token=cQovpGcdUT1CSzgYk0KPYdAI0&variable=jobs.earnings.median_earnings&entity_id=8600000US10019&year=2017'
response = requests.get(query_url2).json()
print(response)
print(json.dumps(response, indent = 4))

{'session_id': 'vlz3w10t33o435rn8x6jvpldi', 'bounds': [[40.758645, -74.003477], [40.772876, -73.973015]], 'summary_statistics': {'values': [-666666666, 20150, 24875, 27308, 30288, 32207, 36052, 41989, 233386], 'values_formatted': ['-$666,666,666', '$20,150', '$24,875', '$27,308', '$30,288', '$32,207', '$36,052', '$41,989', '$233,386'], 'names': ['minimum', '', 'lower quartile', '', 'median', '', 'upper quartile', '', 'maximum']}}
{
    "session_id": "vlz3w10t33o435rn8x6jvpldi",
    "bounds": [
        [
            40.758645,
            -74.003477
        ],
        [
            40.772876,
            -73.973015
        ]
    ],
    "summary_statistics": {
        "values": [
            -666666666,
            20150,
            24875,
            27308,
            30288,
            32207,
            36052,
            41989,
            233386
        ],
        "values_formatted": [
            "-$666,666,666",
            "$20,150",
            "$24,875",
            "$27,308",
            "$30,288",
            "$32,207",
            "$36,052",
            "$41,989",
            "$233,386"
        ],
        "names": [
            "minimum",
            "",
            "lower quartile",
            "",
            "median",
            "",
            "upper quartile",
            "",
            "maximum"
        ]
    }
}

In [2]:
response['summary_statistics']['values_formatted'][4]

'$30,288'

In [3]:
zip_query = 'https://www.zipcodeapi.com/rest/w65G93xpbTQ8I5HA07Oeew1PRPjLSaIL3ZOsv1yUQx36Gwxfcje4rFs4t55FHsnZ/city-zips.json/'
boroughs = ['Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island']
zip_code_list = []
zip_code_dict = {'Manhattan':{}, 'Bronx':{}, 'Brooklyn':{},  'Queens':{}, 'Staten Island':{}}
for borough in boroughs:
    zip_query2 = zip_query + borough + '/NY'
    response = requests.get(zip_query2)
    data = response.json()
    zip_code_dict[borough] = (data['zip_codes'])
zip_code_dict

{'Manhattan': ['10001',
  '10002',
  '10003',
  '10005',
  '10006',
  '10007',
  '10008',
  '10009',
  '10010',
  '10012',
  '10013',
  '10014',
  '10016',
  '10017',
  '10018',
  '10019',
  '10020',
  '10021',
  '10022',
  '10023',
  '10024',
  '10025',
  '10027',
  '10028',
  '10029',
  '10030',
  '10031',
  '10032',
  '10033',
  '10034',
  '10035',
  '10036',
  '10037',
  '10038',
  '10039',
  '10040',
  '10041',
  '10048',
  '10055',
  '10101',
  '10103',
  '10104',
  '10105',
  '10106',
  '10107',
  '10108',
  '10110',
  '10111',
  '10112',
  '10113',
  '10118',
  '10119',
  '10120',
  '10121',
  '10122',
  '10123',
  '10128',
  '10150',
  '10151',
  '10152',
  '10153',
  '10154',
  '10155',
  '10158',
  '10159',
  '10162',
  '10165',
  '10166',
  '10167',
  '10168',
  '10169',
  '10170',
  '10171',
  '10172',
  '10173',
  '10174',
  '10175',
  '10176',
  '10177',
  '10178',
  '10200',
  '10249',
  '10256',
  '10268',
  '10270',
  '10271',
  '10276',
  '10278',
  '10279',
  '10280',
  '10281',
  '10282',
  '10286'],
 'Bronx': ['10451',
  '10452',
  '10453',
  '10454',
  '10455',
  '10456',
  '10457',
  '10458',
  '10459',
  '10460',
  '10461',
  '10462',
  '10463',
  '10464',
  '10465',
  '10466',
  '10467',
  '10468',
  '10469',
  '10470',
  '10471',
  '10472',
  '10473',
  '10474',
  '10475',
  '10499'],
 'Brooklyn': ['11201',
  '11202',
  '11203',
  '11204',
  '11205',
  '11206',
  '11207',
  '11208',
  '11209',
  '11210',
  '11211',
  '11212',
  '11213',
  '11214',
  '11215',
  '11216',
  '11217',
  '11218',
  '11219',
  '11220',
  '11221',
  '11222',
  '11223',
  '11224',
  '11225',
  '11226',
  '11228',
  '11229',
  '11230',
  '11231',
  '11232',
  '11233',
  '11234',
  '11235',
  '11236',
  '11237',
  '11238',
  '11239',
  '11240',
  '11241',
  '11242',
  '11243',
  '11244',
  '11245',
  '11247',
  '11248',
  '11249',
  '11251',
  '11252',
  '11254',
  '11255',
  '11256'],
 'Queens': ['11101',
  '11102',
  '11103',
  '11104',
  '11106',
  '11109',
  '11120',
  '11351',
  '11352',
  '11354',
  '11355',
  '11356',
  '11357',
  '11358',
  '11359',
  '11360',
  '11361',
  '11362',
  '11363',
  '11364',
  '11365',
  '11366',
  '11367',
  '11368',
  '11369',
  '11370',
  '11371',
  '11372',
  '11373',
  '11374',
  '11375',
  '11377',
  '11378',
  '11379',
  '11380',
  '11381',
  '11385',
  '11386',
  '11405',
  '11411',
  '11413',
  '11414',
  '11415',
  '11416',
  '11417',
  '11418',
  '11419',
  '11420',
  '11421',
  '11422',
  '11423',
  '11424',
  '11425',
  '11426',
  '11427',
  '11428',
  '11429',
  '11430',
  '11431',
  '11432',
  '11433',
  '11434',
  '11435',
  '11436',
  '11439',
  '11451',
  '11690',
  '11691',
  '11692',
  '11693',
  '11694',
  '11695',
  '11697'],
 'Staten Island': ['10301',
  '10302',
  '10303',
  '10304',
  '10305',
  '10306',
  '10307',
  '10308',
  '10309',
  '10310',
  '10311',
  '10312',
  '10313',
  '10314']}

In [ ]:
# income_query_url_start = 'https://api.opendatanetwork.com/data/v1/map/new?app_token=cQovpGcdUT1CSzgYk0KPYdAI0&variable=jobs.earnings.median_earnings&entity_id=8600000US'
# income_query_url_end ='&year=2017'
# median_income_dict = {'Manhattan': {}, 'Bronx':{}, 'Brooklyn':{},  'Queens':{}, 'Staten Island':{}}
# for key in zip_code_dict:
#     for x in range(1):
#         income_query_url = income_query_url_start + zip_code_dict[key][x] + income_query_url_end
#         #print(income_query_url)
#         response2 = requests.get(income_query_url).json()
#         time.sleep(3)
#         #print(response2)
#         try:          
#             median_income_dict[key][zip_code_dict[key][x]] = response2['summary_statistics']['values_formatted'][4]
#             #print(response2['summary_statistics']['values_formatted'][4])
#         except KeyError:
#             print('Data not available')

In [ ]:
# print(median_income_dict)

In [4]:
coord_query_url_beg = 'https://public.opendatasoft.com/api/records/1.0/search//?dataset=us-zip-code-latitude-and-longitude&q='
zip_coord_dict = {'Manhattan': {}, 'Bronx':{}, 'Brooklyn':{},  'Queens':{}, 'Staten Island':{}}

for key in zip_code_dict:
    for x in range(len(zip_code_dict[key])):
        coord_query_url = coord_query_url_beg + zip_code_dict[key][x]
        response3 = requests.get(coord_query_url)
        data2 = response3.json()
        try:
            #data2['records'][0]['fields']['longitude']
            zip_coord_dict[key][zip_code_dict[key][x]] = [data2['records'][0]['fields']['latitude'], data2['records'][0]['fields']['longitude']]
        except IndexError:
            print(f"Data not available {zip_code_dict[key][x]}")

Data not available 10200

In [5]:
zip_coord_dict

{'Manhattan': {'10001': [40.750742, -73.99653],
  '10002': [40.71704, -73.987],
  '10003': [40.732509, -73.98935],
  '10005': [40.706019, -74.00858],
  '10006': [40.707904, -74.01342],
  '10007': [40.714754, -74.00721],
  '10008': [40.780751, -73.977182],
  '10009': [40.727092999999996, -73.97864],
  '10010': [40.739022, -73.98205],
  '10012': [40.72596, -73.99834],
  '10013': [40.720666, -74.00526],
  '10014': [40.734718, -74.00532],
  '10016': [40.74618, -73.97759],
  '10017': [40.752159, -73.97231],
  '10018': [40.755101, -73.99337],
  '10019': [40.765714, -73.9856],
  '10020': [40.758667, -73.98024],
  '10021': [40.76842, -73.96045],
  '10022': [40.759015, -73.96732],
  '10023': [40.776099, -73.98285],
  '10024': [40.786387, -73.97709],
  '10025': [40.798502, -73.96811],
  '10027': [40.812665, -73.95499],
  '10028': [40.776777, -73.9541],
  '10029': [40.791586, -73.94575],
  '10030': [40.818151, -73.94351],
  '10031': [40.826201, -73.94879],
  '10032': [40.840686, -73.94154],
  '10033': [40.848764, -73.93496],
  '10034': [40.867653, -73.92],
  '10035': [40.802395, -73.93359],
  '10036': [40.759511, -73.99019],
  '10037': [40.813385, -73.93616],
  '10038': [40.709677, -74.00365],
  '10039': [40.826181, -73.9371],
  '10040': [40.858704, -73.92853],
  '10041': [40.703041999999996, -74.01009],
  '10048': [40.712086, -74.01227],
  '10055': [40.780751, -73.977182],
  '10101': [40.780751, -73.977182],
  '10103': [40.760915, -73.97785],
  '10104': [40.760943, -73.979908],
  '10105': [40.762808, -73.978534],
  '10106': [40.765243, -73.980438],
  '10107': [40.766429, -73.982728],
  '10108': [40.780751, -73.977182],
  '10110': [40.753987, -73.980811],
  '10111': [40.759235, -73.97775],
  '10112': [40.759291, -73.97979],
  '10113': [40.780751, -73.977182],
  '10118': [40.748998, -73.986467],
  '10119': [40.750824, -73.99289],
  '10120': [40.750629, -73.989426],
  '10121': [40.74964, -73.991889],
  '10122': [40.751757, -73.992171],
  '10123': [40.751489, -73.990537],
  '10128': [40.781894, -73.95039],
  '10150': [40.780751, -73.977182],
  '10151': [40.763419, -73.973971],
  '10152': [40.758611, -73.97223],
  '10153': [40.763742, -73.97268],
  '10154': [40.757986, -73.97267],
  '10155': [40.761104, -73.968036],
  '10158': [40.749435, -73.9758],
  '10159': [40.780751, -73.977182],
  '10162': [40.769334, -73.94893],
  '10165': [40.752354, -73.9789],
  '10166': [40.754591, -73.976238],
  '10167': [40.754862, -73.97495],
  '10168': [40.751933, -73.976794],
  '10169': [40.754463, -73.97606],
  '10170': [40.752859, -73.97608],
  '10171': [40.756099, -73.97401],
  '10172': [40.755494, -73.97447],
  '10173': [40.754302, -73.97955],
  '10174': [40.751656, -73.97516],
  '10175': [40.754305, -73.979782],
  '10176': [40.75557, -73.978877],
  '10177': [40.755345, -73.97609],
  '10178': [40.751378, -73.978507],
  '10249': [40.780751, -73.977182],
  '10256': [40.780751, -73.977182],
  '10268': [40.780751, -73.977182],
  '10270': [40.706925, -74.008154],
  '10271': [40.708669, -74.01043],
  '10276': [40.780751, -73.977182],
  '10278': [40.715721, -74.00395],
  '10279': [40.713062, -74.00857],
  '10280': [40.707467, -74.0178],
  '10281': [40.714643, -74.014958],
  '10282': [40.717179, -74.01433],
  '10286': [40.714231, -74.011895]},
 'Bronx': {'10451': [40.819729, -73.9223],
  '10452': [40.838745, -73.92234],
  '10453': [40.853017, -73.91214],
  '10454': [40.805968, -73.91628],
  '10455': [40.815559, -73.90771],
  '10456': [40.829676, -73.90856],
  '10457': [40.846745, -73.89861],
  '10458': [40.864166, -73.88881],
  '10459': [40.825432, -73.89327],
  '10460': [40.84095, -73.88036],
  '10461': [40.842917, -73.83819],
  '10462': [40.842173, -73.85862],
  '10463': [40.881086, -73.90749],
  '10464': [40.857017, -73.78903],
  '10465': [40.825727, -73.81752],
  '10466': [40.89095, -73.84702],
  '10467': [40.872265, -73.86937],
  '10468': [40.867107, -73.89916],
  '10469': [40.868643, -73.84735],
  '10470': [40.900629, -73.86072],
  '10471': [40.900819, -73.90347],
  '10472': [40.830409, -73.86845],
  '10473': [40.818514, -73.85893],
  '10474': [40.81321, -73.88755],
  '10475': [40.878522, -73.82541],
  '10499': [40.851549, -73.840908]},
 'Brooklyn': {'11201': [40.695286, -73.98907],
  '11202': [40.645099, -73.945032],
  '11203': [40.649059, -73.93304],
  '11204': [40.618944, -73.98473],
  '11205': [40.694214, -73.96529],
  '11206': [40.702348, -73.94288],
  '11207': [40.670874, -73.89424],
  '11208': [40.672666, -73.87248],
  '11209': [40.62327, -74.0295],
  '11210': [40.627946, -73.94552],
  '11211': [40.71209, -73.95427],
  '11212': [40.662191, -73.91328],
  '11213': [40.670937, -73.93459],
  '11214': [40.598994, -73.99611],
  '11215': [40.667508, -73.9856],
  '11216': [40.680398, -73.94824],
  '11217': [40.68209, -73.97783],
  '11218': [40.644552, -73.97595],
  '11219': [40.632449, -73.99629],
  '11220': [40.641436, -74.01574],
  '11221': [40.691234, -73.92637],
  '11222': [40.726302, -73.94559],
  '11223': [40.598142, -73.97229],
  '11224': [40.576589, -73.99172],
  '11225': [40.662892, -73.95509],
  '11226': [40.645256, -73.95553],
  '11228': [40.617563, -74.01168],
  '11229': [40.599256, -73.94118],
  '11230': [40.622994, -73.96427],
  '11231': [40.6788, -74.00254],
  '11232': [40.655481, -74.00424],
  '11233': [40.676938, -73.91858],
  '11234': [40.618561, -73.9216],
  '11235': [40.583803, -73.95019],
  '11236': [40.640527, -73.90362],
  '11237': [40.703355, -73.91993],
  '11238': [40.680145, -73.96257],
  '11239': [40.645848, -73.87919],
  '11240': [40.645099, -73.945032],
  '11241': [40.645099, -73.945032],
  '11242': [40.645099, -73.945032],
  '11243': [40.645099, -73.945032],
  '11244': [40.645099, -73.945032],
  '11245': [40.645099, -73.945032],
  '11247': [40.645099, -73.945032],
  '11248': [40.645099, -73.945032],
  '11249': [40.645099, -73.945032],
  '11251': [40.645099, -73.945032],
  '11252': [40.645099, -73.945032],
  '11254': [40.645099, -73.945032],
  '11255': [40.645099, -73.945032],
  '11256': [40.645099, -73.945032]},
 'Queens': {'11101': [40.745341, -73.93907],
  '11102': [40.771286, -73.92462],
  '11103': [40.762968, -73.91091],
  '11104': [40.743796, -73.91949],
  '11106': [40.762012, -73.93147],
  '11109': [40.651378, -73.870779],
  '11120': [40.651378, -73.870779],
  '11351': [40.781703, -73.831698],
  '11352': [40.651378, -73.870779],
  '11354': [40.767969, -73.82496],
  '11355': [40.749463, -73.81941],
  '11356': [40.785462, -73.84366],
  '11357': [40.784453, -73.80922],
  '11358': [40.760522, -73.79612],
  '11359': [40.79278, -73.776701],
  '11360': [40.780386, -73.78005],
  '11361': [40.763177, -73.77392],
  '11362': [40.759686, -73.73322],
  '11363': [40.772636, -73.74644],
  '11364': [40.746718, -73.75994],
  '11365': [40.738983, -73.79209],
  '11366': [40.726137, -73.79502],
  '11367': [40.728614, -73.82145],
  '11368': [40.747106, -73.85838],
  '11369': [40.762854, -73.87051],
  '11370': [40.763015, -73.89052],
  '11371': [40.772072, -73.87509],
  '11372': [40.750146, -73.88433],
  '11373': [40.736076, -73.87804],
  '11374': [40.724945, -73.8609],
  '11375': [40.720535, -73.84582],
  '11377': [40.742869, -73.90377],
  '11378': [40.724096, -73.90271],
  '11379': [40.716028, -73.87925],
  '11380': [40.651378, -73.870779],
  '11381': [40.651378, -73.870779],
  '11385': [40.703069, -73.89285],
  '11386': [40.651378, -73.870779],
  '11405': [40.651378, -73.870779],
  '11411': [40.693538, -73.73574],
  '11413': [40.670138, -73.75141],
  '11414': [40.658188, -73.84321],
  '11415': [40.706903, -73.82973],
  '11416': [40.683301, -73.8503],
  '11417': [40.675534, -73.84476],
  '11418': [40.698485, -73.83365],
  '11419': [40.688688, -73.82216],
  '11420': [40.673138, -73.81443],
  '11421': [40.69087, -73.85828],
  '11422': [40.662538, -73.73514],
  '11423': [40.714261, -73.76824],
  '11424': [40.651378, -73.870779],
  '11425': [40.651378, -73.870779],
  '11426': [40.732239, -73.72108],
  '11427': [40.728235, -73.74782],
  '11428': [40.719981, -73.74127],
  '11429': [40.708833, -73.73903],
  '11430': [40.650519, -73.79567],
  '11431': [40.686903, -73.850143],
  '11432': [40.714144, -73.79324],
  '11433': [40.696538, -73.78734],
  '11434': [40.674888, -73.7727],
  '11435': [40.700068, -73.80986],
  '11436': [40.674146, -73.79687],
  '11439': [40.722008, -73.790822],
  '11451': [40.651378, -73.870779],
  '11690': [40.651378, -73.870779],
  '11691': [40.60002, -73.75962],
  '11692': [40.592939, -73.79568],
  '11693': [40.596959, -73.81978],
  '11694': [40.57649, -73.84721],
  '11695': [40.651378, -73.870779],
  '11697': [40.560167, -73.90891]},
 'Staten Island': {'10301': [40.631775, -74.09432],
  '10302': [40.631127, -74.13715],
  '10303': [40.629448, -74.16239],
  '10304': [40.60787, -74.08991],
  '10305': [40.599021, -74.07503],
  '10306': [40.569394, -74.11785],
  '10307': [40.508274, -74.24387],
  '10308': [40.551353, -74.15098],
  '10309': [40.529749, -74.21304],
  '10310': [40.63212, -74.11551],
  '10311': [40.605245, -74.179485],
  '10312': [40.543117, -74.17628],
  '10313': [40.564393, -74.146836],
  '10314': [40.606337, -74.14513]}}

In [6]:
df_Manhattan_coordinates = pd.DataFrame(zip_coord_dict['Manhattan']).T
df_Manhattan_coordinates

               0          1
10001  40.750742 -73.996530
10002  40.717040 -73.987000
10003  40.732509 -73.989350
10005  40.706019 -74.008580
10006  40.707904 -74.013420
10007  40.714754 -74.007210
10008  40.780751 -73.977182
10009  40.727093 -73.978640
10010  40.739022 -73.982050
10012  40.725960 -73.998340
10013  40.720666 -74.005260
10014  40.734718 -74.005320
10016  40.746180 -73.977590
10017  40.752159 -73.972310
10018  40.755101 -73.993370
10019  40.765714 -73.985600
10020  40.758667 -73.980240
10021  40.768420 -73.960450
10022  40.759015 -73.967320
10023  40.776099 -73.982850
10024  40.786387 -73.977090
10025  40.798502 -73.968110
10027  40.812665 -73.954990
10028  40.776777 -73.954100
10029  40.791586 -73.945750
10030  40.818151 -73.943510
10031  40.826201 -73.948790
10032  40.840686 -73.941540
10033  40.848764 -73.934960
10034  40.867653 -73.920000
...          ...        ...
10155  40.761104 -73.968036
10158  40.749435 -73.975800
10159  40.780751 -73.977182
10162  40.769334 -73.948930
10165  40.752354 -73.978900
10166  40.754591 -73.976238
10167  40.754862 -73.974950
10168  40.751933 -73.976794
10169  40.754463 -73.976060
10170  40.752859 -73.976080
10171  40.756099 -73.974010
10172  40.755494 -73.974470
10173  40.754302 -73.979550
10174  40.751656 -73.975160
10175  40.754305 -73.979782
10176  40.755570 -73.978877
10177  40.755345 -73.976090
10178  40.751378 -73.978507
10249  40.780751 -73.977182
10256  40.780751 -73.977182
10268  40.780751 -73.977182
10270  40.706925 -74.008154
10271  40.708669 -74.010430
10276  40.780751 -73.977182
10278  40.715721 -74.003950
10279  40.713062 -74.008570
10280  40.707467 -74.017800
10281  40.714643 -74.014958
10282  40.717179 -74.014330
10286  40.714231 -74.011895

[92 rows x 2 columns]

In [7]:
df_Bronx_coordinates = pd.DataFrame(zip_coord_dict['Bronx']).T

df_Brooklyn_coordinates = pd.DataFrame(zip_coord_dict['Brooklyn']).T

df_Queens_coordinates = pd.DataFrame(zip_coord_dict['Queens']).T

df_StatenIsland_coordinates = pd.DataFrame(zip_coord_dict['Staten Island']).T

frames = [df_Manhattan_coordinates, df_Bronx_coordinates, df_Brooklyn_coordinates, df_Queens_coordinates, df_StatenIsland_coordinates]
dfNYC1 = pd.concat(frames)
dfNYC1.columns = ['Latitude', 'Longitude']
dfNYC1['Zip Code'] = dfNYC1.index
dfNYC1 = dfNYC1.reset_index(drop = True)
dfNYC1.head()

    Latitude  Longitude Zip Code
0  40.750742  -73.99653    10001
1  40.717040  -73.98700    10002
2  40.732509  -73.98935    10003
3  40.706019  -74.00858    10005
4  40.707904  -74.01342    10006

In [8]:
newresponse = requests.get('https://www.incomebyzipcode.com/newyork/10012')
newresponse.content

b'<!DOCTYPE html>\n<html>\n<head>\n  <!-- Global site tag (gtag.js) - Google Analytics -->\n<script async src="https://www.googletagmanager.com/gtag/js?id=UA-68653-9"></script>\n<script>\n  window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n  gtag(\'js\', new Date());\n\n  gtag(\'config\', \'UA-68653-9\');\n  gtag(\'config\', \'AW-1035998641\');\n</script>\n\n\n  <title>10012 Income Statistics - Current Census Data for Zip Codes</title>\n  <meta charset="utf-8">\n  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">\n\n  <meta name=\'description\' content=\'Get the most current US Census income data for zip code 10012. Compare 10012 income statistics with data for neighboring New York zip codes, counties and cities.\'>\n  <link rel="canonical" href="https://www.incomebyzipcode.com/newyork/10012">\n  <link rel="stylesheet" media="all" href="https://d3u7142ylbwtzx.cloudfront.net/assets/application-f9b474874e198d0fac8945248e9846c3d09c769b14e14358d614ee097d910e8b.css" data-turbolinks-track="false" />\n  <!-- Include Leaflet -->\n  <link href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" rel="stylesheet">\n  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">\n\n\n  <meta name="csrf-param" content="authenticity_token" />\n<meta name="csrf-token" content="JceydilosOGjY4i0mUoCPVZKRTFfdalMwWJ9rqkhqrnuMJgqdpsAsikyZYZApX7nXHtSPZcEEPEYNk/RsYmUxQ==" />\n\n\n</head>\n<body>\n  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">\n    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">\n      <span class="navbar-toggler-icon"></span>\n    </button>\n    <a class="navbar-brand" href="/">\n      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class=\'img-fluid\' style=\'width: 100%;\' viewBox="0 0 449 50" >\n        <defs>\n          <polygon id="path-1" points="25 0 46.651 12.5 46.651 37.5 25 50 3.349 37.5 3.349 12.5"/>\n        </defs>\n        <g fill="none" fill-rule="evenodd">\n          <use fill="#FFF" xlink:href="#path-1"/>\n          <path stroke="#fff" d="M25,0.577350269 L46.1506351,12.7886751 L46.1506351,37.2113249 L25,49.4226497 L3.84936491,37.2113249 L3.84936491,12.7886751 L25,0.577350269 Z"/>\n          <polygon fill="#53c419" points="35.979 12.49 23.7 30.875 35.979 30.875 35.979 35 14.129 35 26.504 16.615 14.983 16.615 14.983 12.49"/>\n          <text fill="#fff" font-size="35" font-weight="bold">\n            <tspan x="56" y="36">INCOME BY ZIP CODE</tspan>\n          </text>\n        </g>\n      </svg>\n    </a>\n    <div class="collapse navbar-collapse" id="navbarSupportedContent">\n      <ul class="navbar-nav mr-auto ">\n        <li class="nav-item d-none">\n          <a class=\'nav-link text-primary\' href="/median-income-by-zip-code-list">\n            Downloadable Income By Zip Code Lists\n          </a>\n        </li>\n        <li class="nav-item">\n          <a class="nav-link text-light" href="/median-income-by-zip-code-list">\n            Products\n          </a>\n        </li>\n        <li class="nav-item">\n          <a class="nav-link text-light" href="/median-income-by-zip-code-list#order_form">\n            Pricing\n          </a>\n        </li>\n        <li class="nav-item">\n          <a class="nav-link text-light" href="/help/faq">\n            FAQs\n          </a>\n        </li>\n      </ul>\n      <ul class="navbar-nav ">\n        <li class=\'nav-item\'>\n          <form role="search" class="form-inline ml-auto my-auto search-input" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />\n            <div class="input-group border border-primary rounded">\n              <input class="form-control border" placeholder="Search by Zip Code" type="text" name="search[terms]" id="search_terms" />\n              <div class="input-group-append">\n                <button class="btn btn-light" type="submit"><i class=\'fa fa-search\'></i></button>\n              </div>\n            </div>\n</form>        </li>\n\n        <li class="nav-item">\n          <a class="nav-link text-light" href="#">\n            1-800-939-2130\n          </a>\n        </li>\n      </ul>\n    </div>\n  </nav>\n\n\n  <div class=\'bg-primary\'>\n  <div class=\'container\'>\n    <div class=\'row py-5\'>\n      <div class="col-sm pl-md-0">\n        <div id=\'map\' class=\'rounded\'></div>\n      </div>\n      <div class=\'col-sm text-white\'>\n        <h1>10012 <span>Income Statistics</span></h1>\n        <h2>Is 10012 the right zip for your: <span class=\'font-weight-normal\'>marketing campaign, new business or development project?</span> </h2>\n      \n        <p class=\'lead\'>Skip hours of searching and get the answers you need with our Zip Code Lists. You\'ll get the most current and popular income data that businesses use to find their target customers. </p>\n\n        <ul class=\'lead\'>\n          <li>Don\'t waste 8 to 10 high-value hours digging through the US Census Bureau\xe2\x80\x99s website</li>\n          <li>Up-to-date data</li>\n          <li>Easy to analyze </li>\n          <li>Invest your time in your new customers</li>\n        </ul>\n        <a class=\'btn btn-lg btn-warning\' href=\'/median-income-by-zip-code-list\'>Learn More</a>\n      </div>\n    </div>\n  </div>\n</div>\n\n\n<div class=\'container mt-5 px-3 px-md-0\'>\n  <div class=\'row my-5\'>\n    <div class=\'col-sm-8\'>\n      <div class=\'row my-5\'>\n        <div class=\'col-sm\'>\n          <h2>Median Household Income</h2>\n          <p>\n            \nThe median household income ($104,561) for 10012 is less than the median household income for <a href="/newyork/10013">10013</a> ($106,056), <a href="/newyork/10014">10014</a> ($127,973), and <a href="/newyork/10011">10011</a> ($123,208). But it\'s more than <a href="/newyork/10002">10002</a> ($35,449), <a href="/newyork/10003">10003</a> ($104,441), New York ($57,782), and New York County ($79,781).\n\n          </p>\n        </div>\n        <div class=\'col-sm\'>\n          <div class="table-responsive">\n            <table class=\'table\'>\n              <tr>\n                <th>10012</th>\n                  <th class=\'text-right\'>New York</th>\n                  <th class=\'text-right\'>New York County</th>\n              </tr>\n              <tr>\n                <td class=\'hilite\'>$104,561</td>\n                  <td class=\'text-right\'>$57,782</td>\n                  <td class=\'text-right\'>$79,781</td>\n              </tr>\n            </table>\n          </div>\n        </div>\n      </div>\n\n  <div class=\'row mb-5\'>\n    <div class=\'col-sm\'>\n      <h2>Average Household Income</h2>\n      <p>\n        \nThe average household income ($160,244) for 10012 is less than the average household income for <a href="/newyork/10013">10013</a> ($252,811), <a href="/newyork/10014">10014</a> ($204,690), <a href="/newyork/10003">10003</a> ($182,531), and <a href="/newyork/10011">10011</a> ($197,050). But it\'s more than <a href="/newyork/10002">10002</a> ($65,718), New York ($93,196), and New York County ($146,019).\n\n      </p>\n    </div>\n    <div class=\'col-sm\'>\n      <div class="table-responsive">\n      <table class=\'table\'>\n        <tr>\n          <th>10012</th>\n            <th class=\'text-right\'>New York</th>\n            <th class=\'text-right\'>New York County</th>\n        </tr>\n        <tr>\n          <td class=\'hilite\'>$160,244</td>\n            <td class=\'text-right\'>$93,196</td>\n            <td class=\'text-right\'>$146,019</td>\n        </tr>\n      </table>\n      </div>\n    </div>\n  </div>\n\n  <div class=\'row mb-5\'>\n    <div class=\'col-sm\'>\n      <h2>Per-Capita Income</h2>\n      <p>The per-capita income for 10012 is $85,491. \n        \nThe per-capita income  for 10012 is less than the per-capita income for <a href="/newyork/10013">10013</a> ($107,794), <a href="/newyork/10014">10014</a> ($122,098), <a href="/newyork/10003">10003</a> ($91,141), and <a href="/newyork/10011">10011</a> ($114,218). But it\'s more than <a href="/newyork/10002">10002</a> ($30,677), New York ($35,761), and New York County ($69,529).\n\n      </p>\n    </div>\n    <div class=\'col-sm\'>\n      <div class="table-responsive">\n      <table class=\'table\'>\n        <tr>\n          <th>10012</th>\n            <th class=\'text-right\'>New York</th>\n            <th class=\'text-right\'>New York County</th>\n        </tr>\n        <tr>\n          <td class=\'hilite\'>$85,491</td>\n            <td class=\'text-right\'>$35,761</td>\n            <td class=\'text-right\'>$69,529</td>\n        </tr>\n      </table>\n      </div>\n    </div>\n  </div>\n\n  <div class=\'row mb-5\'>\n    <div class=\'col-sm\'>\n      <h2>High Income Households</h2>\n      <p>22.7% of households make over $200,000 a year.  \n        \nThe percent high income households  for 10012 is less than the percent high income households for <a href="/newyork/10013">10013</a> (33.4%), <a href="/newyork/10014">10014</a> (32.2%), <a href="/newyork/10003">10003</a> (26.8%), and <a href="/newyork/10011">10011</a> (29.6%). But it\'s more than <a href="/newyork/10002">10002</a> (6.4%), New York (9.2%), and New York County (20.1%).\n\n      </p>\n    </div>\n    <div class=\'col-sm\'>\n      <div class="table-responsive">\n      <table class=\'table\'>\n        <tr>\n          <th>10012</th>\n            <th class=\'text-right\'>New York</th>\n            <th class=\'text-right\'>New York County</th>\n        </tr>\n        <tr>\n          <td class=\'hilite\'>22.7%</td>\n            <td class=\'text-right\'>9.2%</td>\n            <td class=\'text-right\'>20.1%</td>\n        </tr>\n      </table>\n      </div>\n    </div>\n  </div>\n  <div class=\'\'>\n    <h2>Median Household Income by Age of Householder</h2>\n    <div class="table-responsive mb-5">\n      <table class=\'table\'>\n        <tr>\n          <th></th>\n          <th class=\'text-right\'>10012</th>\n            <th class=\'text-right\'>New York</th>\n            <th class=\'text-right\'>New York County</th>\n        </tr>\n        <tr>\n          <th class=\'\'>Householder under 25 years</th>\n          <td class=\'hilite\'>$61,141</td>\n            <td class=\'text-right\'>$38,378</td>\n            <td class=\'text-right\'>$48,580</td>\n        </tr>\n       <tr>\n          <th class=\'\'>Householder 25 to 44 years</th>\n          <td class=\'hilite\'>$126,051</td>\n            <td class=\'text-right\'>$70,406</td>\n            <td class=\'text-right\'>$106,499</td>\n        </tr>\n       <tr>\n          <th class=\'\'>Householder 45 to 64 years</th>\n          <td class=\'hilite\'>$102,656</td>\n            <td class=\'text-right\'>$62,369</td>\n            <td class=\'text-right\'>$77,755</td>\n        </tr>\n       <tr>\n          <th class=\'\'>Householder 65 years and over</th>\n          <td class=\'hilite\'>$52,109</td>\n            <td class=\'text-right\'>$34,750</td>\n            <td class=\'text-right\'>$40,305</td>\n        </tr>\n      </table>\n    </div>\n  </div>\n\n</div>\n<div class=\'col-sm-4\'>\n<div id=\'pitch\' class="bg-light-gray p-3 rounded">\n  <div class=\'container p-3\'>\n    <div class=\'\'>\n      <div class="">\n        <h2>Looking for a List of Zip Codes with Income?</h2>\n      <div class="">\n        <img class="screenshot-example-zipcodelist-stacked-02 img-fluid" src="https://d3u7142ylbwtzx.cloudfront.net/assets/screenshot-example-zipcodelist-stacked-02@2x-1d4d81300e840af01488c0e9658c0d26e0b89971496ec0615d4b3ebf4d1e4d7d.png" alt="Screenshot example zipcodelist stacked 02@2x" />\n      </div>\n        <p>If you value your time at $50 an hour, you could waste hundreds of dollars and many hours searching for data. Or you can work with the data experts at Cubit to make sure you get the most current demographics available from government data sources. All of our work comes with a 100% money-back guarantee.</p>\n        <p>\n          <b>Get all zip codes in a city, county, state or the entire US with data such as median household income.<br></b>\n        </p>\n        <p class=\'text-center\'><a class=\'btn btn-lg btn-primary\' href=\'/median-income-by-zip-code-list\'>Starting at $59.</a></p>\n      </div>\n    </div>\n  </div>\n</div>\n</div></div>\n<div class="pb-5">\n  <div class=\'container\'>\n    <div class=\'citations text-muted\'>\n    <h2>About the Data</h2>\n      <h3>Sources &amp; Margins of Error</h3>\n      <p>All income statistics above for 10012, New York and New York County are the most current, comparable income statistics available from the US Census Bureau and are from the American Community Survey 2017 5-year estimates. These values are in 2017 inflation-adjusted dollars and were downloaded on 6 December 2018.</p>\n      <div class=\'row\'>\n    <div class=\'col-md-6\'>\n      <p> The following data tables were used:</p>\n      <ul>\n        <li>B19001 Household Income in the Past 12 Months (in 2017 inflation-adjusted dollars)</li>\n        <li>B19013 Median Household Income in the Past 12 Months (in 2017 inflation-adjusted dollars)</li>\n        <li>B19301 Per Capita Income in the Past 12 Months (in 2017 inflation-adjusted dollars)</li>\n        <li>S1902 Mean Income in the Past 12 Months (in 2017 inflation-adjusted dollars)</li>\n        <li>B19049 Median Household Income in the Past 12 Months (in 2017 inflation-adjusted dollars) By Age Of Householder</li>\n      </ul>\n    </div>\n    <div class=\'col-md-6\'>\n      <p>Margins of error for the above income data for 10012, New York and New York County, are respectively:</p>\n      <ul>\n        <li>Median Household Income: <span class=\'small\'>+/-</span>5,053, <span class=\'small\'>+/-</span>341, and <span class=\'small\'>+/-</span>1,158</li>\n        <li>Average Household Income: <span class=\'small\'>+/-</span>9,925, <span class=\'small\'>+/-</span>648, and <span class=\'small\'>+/-</span>2,078</li>\n        <li>Per Capital Income: <span class=\'small\'>+/-</span>5,147, <span class=\'small\'>+/-</span>241, and <span class=\'small\'>+/-</span>945</li>\n        <li>High Income Households: <span class=\'small\'>+/-</span>2.7, <span class=\'small\'>+/-</span>0.1, and <span class=\'small\'>+/-</span>0.3</li>\n        <li>Median Household Income: Householders under 25: <span class=\'small\'>+/-</span>11,343, <span class=\'small\'>+/-</span>1,518, and <span class=\'small\'>+/-</span>3,388</li>\n        <li>Median Household Income: Householders 25 to 44: <span class=\'small\'>+/-</span>15,554, <span class=\'small\'>+/-</span>649, and <span class=\'small\'>+/-</span>1,521</li>\n        <li>Median Household Income: Householders 45 to 64: <span class=\'small\'>+/-</span>20,804, <span class=\'small\'>+/-</span>438, and <span class=\'small\'>+/-</span>2,196</li>\n        <li>Median Household Income: Householders 65+: <span class=\'small\'>+/-</span>19,946, <span class=\'small\'>+/-</span>447, and <span class=\'small\'>+/-</span>1,263</li>\n      </ul>\n      <p>\n        For MOEs for neighboring zip codes see: \n        <a href=\'/newyork/10013\'>10013</a>, <a href=\'/newyork/10014\'>10014</a>, <a href=\'/newyork/10002\'>10002</a>, <a href=\'/newyork/10003\'>10003</a>, and <a href=\'/newyork/10011\'>10011</a>.\n      </p>\n\n      <p><a href=\'/help/symbols\'>Explanation of Symbols</a></p>\n    </div>\n    </div>\n  </div>\n</div>\n\n\n\n\n\n  <div class=\'text-center p-3 py-5\'>\n    <p>Email me data tips once a month</p>\n    <div class="createsend-button" style="height:22px;display:inline-block;" data-listid="y/32/256/B3D/5DE5FA8679E170E2"></div>\n      <script type="text/javascript">\n      (function () { var e = document.createElement(\'script\'); e.type = \'text/javascript\'; e.async = true; e.src = (\'https:\' == document.location.protocol ? \'https\' : \'http\') + \'://btn.createsend1.com/js/sb.min.js?v=3\'; e.className = \'createsend-script\'; var s = document.getElementsByTagName(\'script\')[0]; s.parentNode.insertBefore(e, s); })();\n      </script>\n\n    <p class=\'copyright\'><a href=\'/help/faq\'>FAQ</a> &middot; <a href=\'/contact\'>Contact Us</a> &middot; <a href=\'/sitemap\'>Site Map</a> &middot; <a href="/terms">Terms &amp; Conditions</a> &middot; <a href="/terms#PRIVACY">Privacy Policy</a> &middot; Copyright 2019  Cubit Planning Inc.</p>\n  </div>\n\n\n<!-- [JS] -->\n<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>\n<!-- Include CARTO.js -->\n<script src="https://cartodb-libs.global.ssl.fastly.net/carto.js/v4.1.10/carto.min.js"></script>\n<script src="https://d3u7142ylbwtzx.cloudfront.net/assets/application-dc016f7ce18dd92082f2613a90d8f19306d810ee8022ca7f3947cff17e18133b.js" data-turbolinks-track="true"></script>\n\n<script type="text/javascript">\n  initializeMap();\nvar zipJson = {\n    "type": "Feature",\n    "properties": {\n      name: \'10012\'\n    },\n    "geometry": {"type":"MultiPolygon","coordinates":[[[[-74.00373,40.72625],[-74.003155,40.727664],[-74.000954,40.731706],[-73.999604,40.731043],[-73.993147,40.727867],[-73.991794,40.726391],[-73.992604,40.724136],[-73.994035,40.720323],[-74.00438,40.724055],[-74.00373,40.72625]]]]}\n  };\n  var zipOverlay = L.geoJson(zipJson, {style: defaultStyle});\n\n  var neighborsJSON = {\n    "type": "FeatureCollection",\n    "features": [\n    {\n      \'type\': \'Feature\',\n      \'geometry\': {"type":"MultiPolygon","coordinates":[[[[-74.016222,40.721275],[-74.01254,40.721503],[-74.011978,40.724333],[-74.011235,40.724266],[-74.009623,40.727557],[-74.005545,40.727157],[-74.00373,40.72625],[-74.00438,40.724055],[-73.994035,40.720323],[-73.994808,40.718457],[-73.996059,40.716232],[-73.997504,40.714069],[-73.998584,40.713468],[-74.000455,40.714365],[-74.002115,40.715159],[-74.004533,40.71628],[-74.006249,40.717076],[-74.00794,40.714927],[-74.012731,40.717114],[-74.012292,40.719039],[-74.013046,40.719086],[-74.012669,40.720856],[-74.016222,40.721275]]]]},\n      \'properties\': {\n        name: \'10013\',\n        url: \'/newyork/10013\'\n      }\n    },{\n      \'type\': \'Feature\',\n      \'geometry\': {"type":"MultiPolygon","coordinates":[[[[-74.015728,40.725423],[-74.01182,40.725083],[-74.011653,40.725907],[-74.015219,40.726336],[-74.011569,40.726445],[-74.011376,40.728233],[-74.014357,40.728612],[-74.014072,40.730689],[-74.011164,40.730444],[-74.014204,40.731505],[-74.011077,40.731449],[-74.010659,40.736022],[-74.013007,40.73612],[-74.010578,40.736971],[-74.010394,40.739136],[-74.011662,40.739224],[-74.011456,40.740818],[-74.009664,40.740741],[-74.009366,40.742299],[-74.012331,40.742618],[-74.009331,40.742572],[-74.008204,40.742148],[-74.007705,40.742834],[-74.004861,40.741642],[-74.005366,40.740945],[-74.002523,40.739753],[-73.999555,40.733611],[-74.000954,40.731706],[-74.003155,40.727664],[-74.00373,40.72625],[-74.005545,40.727157],[-74.009623,40.727557],[-74.011235,40.724266],[-74.011978,40.724333],[-74.01599,40.724766],[-74.015728,40.725423]]]]},\n      \'properties\': {\n        name: \'10014\',\n        url: \'/newyork/10014\'\n      }\n    },{\n      \'type\': \'Feature\',\n      \'geometry\': {"type":"MultiPolygon","coordinates":[[[[-73.997504,40.714069],[-73.996059,40.716232],[-73.994808,40.718457],[-73.994035,40.720323],[-73.992604,40.724136],[-73.988643,40.722933],[-73.978753,40.719934],[-73.974995,40.719784],[-73.975119,40.718753],[-73.973635,40.718612],[-73.975933,40.712907],[-73.977787,40.710671],[-73.98124,40.709825],[-73.988509,40.709148],[-73.988698,40.70997],[-73.991939,40.709528],[-73.996222,40.709181],[-73.997504,40.714069]]]]},\n      \'properties\': {\n        name: \'10002\',\n        url: \'/newyork/100

In [9]:
soup = bs(newresponse.content, 'html.parser')
#print(soup.prettify())

In [ ]:
list(soup.children)

In [ ]:
[type(item) for item in list(soup.children)]

In [10]:
info = soup.find(id = "container mt-5 px-3 px-md-0")
#print(info)
mydivs = soup.find("td", {"class": "hilite"})
#print(mydivs.get_text())

In [11]:
income_url_beg = 'https://www.incomebyzipcode.com/newyork/'

income_dict = {'Manhattan': {}, 'Bronx':{}, 'Brooklyn':{},  'Queens':{}, 'Staten Island':{}}

for key in zip_code_dict:
    for x in range(len(zip_code_dict[key])):
        income_url = income_url_beg + zip_code_dict[key][x]
        #print(income_url)
        newresponse2 = requests.get(income_url)
        soup2 = bs(newresponse2.content, 'html.parser')
        #print(soup2)
        info = soup2.find(id = "container mt-5 px-3 px-md-0")
        mydiv = soup2.find("td", {"class": "hilite"})
        #print(mydiv)
        try:
            income_dict[key][zip_code_dict[key][x]] = mydiv.get_text()
        except AttributeError: 
            print(f'No data for {zip_code_dict[key][x]}')
        #print(mydiv.get_text())

No data for 10008
No data for 10041
No data for 10048
No data for 10055
No data for 10101
No data for 10104
No data for 10105
No data for 10106
No data for 10107
No data for 10108
No data for 10113
No data for 10118
No data for 10120
No data for 10121
No data for 10122
No data for 10123
No data for 10150
No data for 10151
No data for 10155
No data for 10158
No data for 10159
No data for 10166
No data for 10175
No data for 10176
No data for 10178
No data for 10200
No data for 10249
No data for 10256
No data for 10268
No data for 10270
No data for 10276
No data for 10281
No data for 10286
No data for 10499
No data for 11202
No data for 11240
No data for 11241
No data for 11242
No data for 11243
No data for 11244
No data for 11245
No data for 11247
No data for 11248
No data for 11249
No data for 11251
No data for 11252
No data for 11254
No data for 11255
No data for 11256
No data for 11120
No data for 11352
No data for 11380
No data for 11381
No data for 11386
No data for 11405
No data for 11431
No data for 11439
No data for 11690
No data for 11695
No data for 10313

In [ ]:
income_dict

In [12]:
dfManhattan = pd.DataFrame(income_dict['Manhattan'], index=[0]).T
dfManhattan.head()

              0
10001   $85,221
10002   $35,449
10003  $104,441
10005  $154,213
10006  $145,893

In [13]:
dfBronx = pd.DataFrame(income_dict['Bronx'], index=[0]).T
dfBronx.head()

             0
10451  $26,979
10452  $27,206
10453  $24,421
10454  $21,542
10455  $25,489

In [14]:
dfBrooklyn = pd.DataFrame(income_dict['Brooklyn'], index=[0]).T

In [15]:
dfQueens = pd.DataFrame(income_dict['Queens'], index=[0]).T
#dfQueens.head()

In [16]:
dfStatenIsland = pd.DataFrame(income_dict['Staten Island'], index=[0]).T
#dfStatenIsland.head()

In [17]:
frames = [dfManhattan, dfBronx, dfBrooklyn, dfQueens, dfStatenIsland]
dfNYC2 = pd.concat(frames)
dfNYC2.columns = ['Median Household Income']

In [ ]:
dfNYC2.head()

In [18]:
indexNames = dfNYC2[dfNYC2['Median Household Income'] == '$0'].index
 
# Delete these row indexes from dataFrame
dfNYC2.drop(indexNames , inplace=True)

In [ ]:
dfNYC2.head()

In [19]:
dfNYC2['Zip Code'] = dfNYC2.index

In [20]:
dfNYC2 = dfNYC2.reset_index(drop = True)
#dfNYC2.head()

In [21]:
dfNYC = pd.merge(dfNYC1, dfNYC2, on = 'Zip Code')
#dfNYC.head()

In [22]:
gmaps.configure(api_key = 'AIzaSyBPGiM9DukiiU_NR_q5j1y7DM43rtOOyTs')

In [23]:
dfNYC['Median Household Income'] = dfNYC['Median Household Income'].map(lambda x: x.lstrip('$').rstrip('aAbBcC'))

locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 
for x in range(len(dfNYC['Median Household Income'])):
    dfNYC.iloc[x, 3] = locale.atoi(dfNYC.iloc[x, 3])

In [ ]:
locations = dfNYC[['Latitude','Longitude']].astype(float)
med_inc = dfNYC['Median Household Income'].astype(float)

In [ ]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights= med_inc, 
                                 dissipating=False, max_intensity=180000,
                                 point_radius = 0.03)

fig.add_layer(heat_layer)

fig

In [24]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E","B23025_005E", "B23025_003E", "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B23025_005E": "Unemployed Labor Force",
                                      "B23025_003E": "Labor Force",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zip Code"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)
census_pd["Unemployment Rate"] = 100 * (census_pd['Unemployed Labor Force'].astype(int)/census_pd['Labor Force'].astype(int))

# Final DataFrame
census_pd = census_pd[["Zip Code", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Unemployment Rate", "Poverty Count", "Poverty Rate"]]

# Visualize
# print(len(census_pd))
# census_pd.head()
df_big = dfNYC.merge(census_pd, how = 'left', on = 'Zip Code')
df_big.head()

,Latitude,Longitude,Zip Code,Median Household Income,Population,Median Age,Household Income,Per Capita Income,Unemployment Rate,Poverty Count,Poverty Rate
0,40.750742,-73.99653,10001,85221,23947.0,35.3,85221.0,86014.0,6.188135,4211.0,17.584666
1,40.717040,-73.98700,10002,35449,77925.0,41.8,35449.0,30677.0,8.285599,21214.0,27.223612
2,40.732509,-73.98935,10003,104441,55035.0,32.6,104441.0,91141.0,4.877486,3973.0,7.219042
3,40.706019,-74.00858,10005,154213,8680.0,30.2,154213.0,102957.0,2.664375,912.0,10.506912
4,40.707904,-74.01342,10006,145893,3579.0,30.7,145893.0,103279.0,1.663586,170.0,4.749930

In [26]:
df_big.to_csv('df_big.csv')

In [27]:
locations = df_big[['Latitude','Longitude']].astype(float)
pop_weights = df_big['Population'].astype(float)

In [34]:
fig4 = gmaps.figure()

heat_layer4 = gmaps.heatmap_layer(locations, weights= pop_weights, 
                                 dissipating=False, max_intensity=350000,
                                 point_radius = 0.04)

fig4.add_layer(heat_layer4)

fig4

Figure(layout=FigureLayout(height='420px'))

In [ ]:
locations = df_big[['Latitude','Longitude']].astype(float)
UR_weights = df_big['Unemployment Rate'].astype(float)

In [ ]:
fig2 = gmaps.figure()

heat_layer2 = gmaps.heatmap_layer(locations, weights= UR_weights, 
                                 dissipating=False, max_intensity=45,
                                 point_radius = 0.04)

fig2.add_layer(heat_layer2)

fig2

In [ ]:
locations = df_big[['Latitude','Longitude']].astype(float)
PR_weights = df_big['Poverty Rate'].astype(float)

In [ ]:
fig3 = gmaps.figure()

heat_layer3 = gmaps.heatmap_layer(locations, weights= PR_weights, 
                                 dissipating=False, max_intensity=130,
                                 point_radius = 0.04)

fig3.add_layer(heat_layer3)

fig3

In [25]:
# Dependencies
import random
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
#api_key

In [26]:
file='NYPD_Data.csv'
df_Pam=pd.read_csv(file)
df_Pam.head()
# convert CMPLNT_FR_DT to date format. 222398 rows records in file
df_Pam['CMPLNT_FR_DT'] = pd.to_datetime(df_Pam['CMPLNT_FR_DT'],errors = 'coerce') 
#df_Pam.head()

In [27]:
# Filter for only "Felony" category
felonyDf = df_Pam[df_Pam["LAW_CAT_CD"] == 'FELONY'] 
felonyDf=felonyDf.reset_index(drop=True)
# Drop rows if CMPLNT_FR_DT does not have any value
felonyDf=felonyDf.dropna(subset = ['CMPLNT_FR_DT'])
# Limit our analysis to last 10 years - 2010 to 2019
felonyDf = felonyDf[(felonyDf['CMPLNT_FR_DT'] > '2010-01-01') & (felonyDf['CMPLNT_FR_DT'] <= '2019-09-06')]
# create new columns to store year and month to enable aggregration
felonyDf['CMPLNT_YR']=pd.DatetimeIndex(felonyDf['CMPLNT_FR_DT']).year
felonyDf['CMPLNT_Month']=pd.DatetimeIndex(felonyDf['CMPLNT_FR_DT']).month
#felonyDf.to_csv('felonyfull.csv')

#felonyDf.head()

In [28]:
zip_code_series = pd.Series()
zips = []
for x in range(len(felonyDf['Latitude'])):
    zipcode = search.by_coordinates(felonyDf.iloc[x,-5].astype(float), felonyDf.iloc[x, -4].astype(float), radius=1, returns=1)
    try:
        zipcode = zipcode[0].to_dict()
        zips.append(zipcode['zipcode'])
        #print(zips)
    except IndexError:
        #print('Data not Found')
        zips.append(0)